@import 'src/_variables';

:host {
  .mat-toolbar {
    background: $pink;
  }

  .table-group {
    margin-bottom: 2rem;
    .medicine-table {
      width: 80%;
      margin: 2rem auto 0 auto;
    }

    .paginator-wrapper {
      width: 80%;
      margin: auto;
    }
  }

  .icon-column {
    > .icon .mat-icon {
      cursor: pointer;
      width: 1.5rem !important;
      height: 1.5rem !important;
    }

  }

  .mat-paginator {
    clear: both;
    position: relative;
  }

}
