@import 'src/_variables';

:host {
  .login-form {
    padding: 4rem 0;
    background: $greyBackground;
    height: 100vh;
    .logo {
      color: $defaultWhite;
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    .form {
      width: 50%;
      margin-bottom: 3rem;
    }
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 2rem;
  }

  .mat-icon {
    width: 60px;
    height: 60px;
    color: $pink;
  }
}
