<div class="login-form d-flex flex-column align-center">
  <div class="logo d-flex align-center">
    <mat-icon class="mr-1 large-font">medical_services</mat-icon>
    <h1 class="title">MedFarm</h1>
  </div>
  <form [formGroup]="loginForm" class="form">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="text">
        <mat-error *ngIf="loginForm.controls.email.errors?.required">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="loginForm.controls.email.errors?.email">
          E-mail inválido
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input formControlName="password" matInput type="password">
      <mat-error *ngIf="loginForm.controls.password.errors?.required">
        Campo obrigatório
      </mat-error>
    </mat-form-field>
    <button type="button" (click)="login()" class="w-100" mat-raised-button>Entrar</button>
  </form>
  <a class="primary-link" href="#">esqueceu a senha ?</a>
</div>
