@import 'src/_variables';

:host {
  .login-form {
    padding: 4rem 0;
    background: $greyBackground;
    height: 100vh;

    .form {
      width: 50%;
      margin-bottom: 3rem;
    }
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 2rem;
    color: $defaultWhite;
  }
}
