<div class="login-form d-flex flex-column align-center">
  <div class="logo d-flex align-center">
    <mat-icon class="mr-1 large-font">medical_services</mat-icon>
    <h1 class="title">Axé</h1>
  </div>
  <form class="form">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput type="password">
    </mat-form-field>
    <button class="w-100" mat-raised-button>Entrar</button>
  </form>
  <a class="primary-link" href="#">esqueceu a senha ?</a>
</div>
