@import 'src/_mixins';

:host {
  .login-form {
    width: 40%;
    @include respond(tab-port) {
      width: 50%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  .login-banner {
    width: 60%;
    @include respond(phone) {
      display: none;
    }
  }
}
