<div class="employer-register-page">
  <mat-toolbar>
    <div class="d-flex align-center">
      <mat-icon class="-black">person</mat-icon>
      <h1 class="title -small -black">Registro de medicamento</h1>
    </div>
  </mat-toolbar>
  <div class="w-75 margin-auto mt-2">
    <card>
      <form>
        <div>
          <mat-form-field color="primary">
            <mat-label>Nome do medicamento</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Código de rastreamento</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Escolha uma data</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </form>
    </card>
  </div>
</div>