/* You can add global styles to this file, and also import other style files */
@import './variables';
* {
  box-sizing: border-box;
}
html, body { background: rgba(200,200,200, .2); height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.primary-link {
  color: $pink;
}

.large-font {
  font-size: 3.5rem !important;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.black {
  background: $defaultBlack;
  color: $defaultWhite
}
.mat-icon {
  width: 60px !important;
  height: 60px !important;
  color: $pink;

  &.-black {
    color: $defaultBlack;
    font-size: 3.5rem;
  }
}

.logo {
  color: $defaultWhite;
  font-size: 3rem;
  margin-bottom: 3rem;
  &.-nomargin {
    margin-bottom: 0;
  }
}

.title {
  @extend .large-font;
  margin-bottom: 0 !important;
  padding-bottom: 0;

  &.-small {
    font-size: 2rem !important;
  }

  &.-black {
    color: $defaultBlack;
  }
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 20%;
}

